.title {
  font-family: "RobotoRegular", Arial, sans-serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 50px;
  border-radius: 10px;
  overflow: hidden;
}

.card__img {
  width: 400px;
  height: 372px;
}

.card__info {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  color: black;
  background-color: aliceblue;
}

.card__name {
  font-family: "RobotoMedium", Arial, sans-serif;
  margin: 0 0 16px 0;
}

.card__description {
  font-family: "RobotoRegular", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  width: 352px;
  margin: 0;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
